<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicacion E-Commerce Coder</title>
</head>

<body>
    {{>nav}}

    {{{body}}}

    {{>footer}}

    {{!-- CDN socket.io --}}
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"
        integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
        crossorigin="anonymous"></script>
    {{!-- Llamada a JS --}}
    <script src="js/main.js" type="text/javascript"></script>
    
</body>

</html>